* {
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  #main{
    display:flex;
    flex-direction: column;
    background: rgb(238, 238, 238);
    width: 98%;
    margin: auto;
    border-radius: 10px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  header p{
    position: relative;
    font-size: 16px;
    top: -10px;
  }
  
  #title{
    margin-top: 20px;
    position: relative;
    top: 20px;
    font-size: 40px;
  }
  
  body {
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    font-family: sans-serif;
  }
  
  
  #img-div {
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin: auto;
    border-radius: 5px;
  }
  
  #tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
  }

  .dedication {
      font-style: italic;
  }